.wrapper{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding-top: 40px;
    .faq{
        padding: 15px;
        background-color: #ebebeb;
        border-radius: 15px;

        &:hover{
            background-color: rgb(119, 119, 119);
            color: white;
        }
    }
}