:host{
    app-chat {
        height: 75%;
    }
    
    app-faq{
        height: 25%;
    }
}

@media (max-width: 640px){
    app-chat{
        height: 100% !important;
    }
}

@media (min-width: 768px) {
    :host{
        padding: 20px;

    }
    
}